body {
  background: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Home */
.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}
.title {
  text-transform: capitalize;
  text-shadow: 2px 2px 4px #000;
  color: #bfbfbf;
  font: bold 3vw Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px #4caf50, 2px 2px #4caf50, 3px 3px #4caf50,
    4px 4px #4caf50, 5px 5px #4caf50, 6px 6px #4caf50;
}
.homeButton {
  background-color: #4caf50;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  margin: 10px;
  text-align: center;
  outline: none;
}

/* Main Menu */
.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  padding: 10px;
}
.menuItem {
  display: flex;
  padding: 5px;
  overflow: auto;
  height: 33vh;
  width: 25vw;
}
#overlayModalDialog {
  height: calc(80% - 1rem);
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
#overlayModalDialog > * {
  margin: 10px;
  height: 302px;
}

.modal-body {
  padding: 1%;
}
.modal-content {
  background: transparent;
  border: none;
}

#formation {
  vertical-align: middle;
  background: #fff;
  text-align: center;
}
#closeModal {
  position: fixed;
  right: 7vw;
  bottom: 10vh;
}

.part-team {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  margin-bottom: 22px;
}

.versase {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  background: #fff;
  width: 40px;
  height: 40px;
  line-height: 34px;
  border-radius: 50%;
  color: #c40c49;
  border: 2px solid rgba(56, 56, 56, 0.3);
  margin-bottom: 20px;
  font-style: italic;
}
.versase:after {
  position: absolute;
  content: "";
  left: 50%;
  /* -webkit-transform: translateX(-50%); */
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
  width: 170px;
  margin-top: -1px;
  height: 2px;
  background: rgba(56, 56, 56, 0.3);
  z-index: -1;
}

.team-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #383838;
  display: block;
}

.card {
  z-index: 0;
}

.playMatchBtn {
  background: #2a2a2a;
  color: #fff;
  width: 110px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 0.5px;
}

/* Match */
.pitchContainer {
  padding: 2px 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#pitch {
  border: 1px solid #000;
  /*background-image: url("images\\pitch.jpg");
    background-repeat: no-repeat;
    */
  background-color: white;
  height: 500px;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
}
#pitch td {
  border: 1px solid #aaaaaa;
  min-width: 0px;
  max-width: 0px;
  text-align: center;
}
#allCardHolder {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#drawHolder,
#handHolder,
#discardHolder {
  text-align: center;
}
.playingCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  display: inline-table;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  transition: top ease 0.5s;
}
.draw:hover,
.discard:hover {
  box-shadow: 0px 0px 14px 0px cyan;
}
.hand {
  height: 100%;
  text-align: center;
}
.hand:hover {
  top: -10px;
}
.playable:hover {
  box-shadow: 0px 0px 14px 0px greenyellow;
}
.unplayable:hover {
  box-shadow: 0px 0px 14px 0px red;
}
img {
  -webkit-user-drag: none;
}
.buttonHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 10px;
}
.buttonHolder > * {
  padding: 10px;
  flex: 1 100%;
}
.alilityButton {
  order: 1;
  flex: 1 0 0;
  padding: 5px;
  margin: 20px;
  width: 150px;
  text-align: center;
  background: deepskyblue;
}
.commentaryBox {
  order: 2;
  flex: 3 0px;
}
.endButton {
  padding: 5px;
  order: 3;
  flex: 1 0 0;
  margin: 20px;
  width: 150px;
  text-align: center;
  background: deepskyblue;
}
.scoreHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  background: #000000;
}
.scoreHolder li {
  text-decoration: none;
  display: block;
  padding: 1em;
  border: 1px solid #000000;
  background: #ffffff;
}
.scoreHolder li:hover {
  background: #ffffff;
}
.playerIcon {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 34px;
  border-radius: 50%;
  margin-bottom: 20px;
  font-style: italic;
  background: #fff;
  color: #000;
  border: 2px solid #000;
}
